In [7]:
import pandas as pd

In [135]:
data = pd.read_csv("yelp_boston.csv")

In [136]:
boston = [];
for x in data['location']:
    if ("Boston" in x) & ("West Roxbury" not in x) & ("Dorchester" not in x) & ("Hyde Park" not in x) & ("Mattapan" not in x) & ("Roslindale" not in x) & ("Jamaica Plain" not in x) & ("Southampton" not in x) & ("87 Glenville" not in x) & ("1414 Commonwealth Ave" not in x) & ("888 Co" not in x):
        boston.append(x)

In [137]:
data = data.loc[data['location'].isin(boston)]
data

,name,url,review_count,categories,rating,snippet_text,location,neighborhood,latitude,longitude,search category
0,Wheelhouse,http://www.yelp.com/biz/wheelhouse-boston-3,101,"[[""Breakfast & Brunch"", ""breakfast_brunch""], [...",4.5,"After going to Wheelhouse, you'll never order ...","{""cross_streets"": ""Milk St & Batterymarch Arm""...",Financial District,42.357926,-71.053962,restaurants
1,Tenoch Mexican,http://www.yelp.com/biz/tenoch-mexican-boston,121,"[[""Mexican"", ""mexican""]]",4.5,"So it's official, folks. We've finished our sa...","{""city"": ""Boston"", ""display_address"": [""3 Lewi...",North End,42.363309,-71.051800,restaurants
2,O Ya,http://www.yelp.com/biz/o-ya-boston,450,"[[""Japanese"", ""japanese""]]",4.5,My husband and I came here to celebrate our 20...,"{""city"": ""Boston"", ""display_address"": [""9 E St...",Waterfront,42.351408,-71.056867,restaurants
3,Locale,http://www.yelp.com/biz/locale-boston,121,"[[""Italian"", ""italian""], [""Pizza"", ""pizza""]]",4.5,Truly thankful that we stumbled on Locale whil...,"{""cross_streets"": ""Fleet St & Tileston St"", ""c...",North End,42.365085,-71.053187,restaurants
4,Neptune Oyster,http://www.yelp.com/biz/neptune-oyster-boston,2487,"[[""Seafood"", ""seafood""], [""Live/Raw Food"", ""ra...",4.5,Best lobster roll on the whole trip..... and I...,"{""cross_streets"": ""Hull St & Stillman St"", ""ci...",North End,42.363618,-71.056012,restaurants
...,...,...,...,...,...,...,...,...,...,...,...
322,Bon Me,http://www.yelp.com/biz/bon-me-boston-8,28,"[[""Vietnamese"", ""vietnamese""], [""Food Trucks"",...",4.0,"I'm no longer a virgin. Well, I'm no longer a ...","{""cross_streets"": ""Atlantic Ave & South St"", ""...",Waterfront,42.348722,-71.057985,vietnamese
336,South Boston Lithuanian Club,http://www.yelp.com/biz/south-boston-lithuania...,13,"[[""Polish"", ""polish""], [""Ukrainian"", ""ukrainia...",4.5,This place is delicious!! The thought of anyth...,"{""city"": ""Boston"", ""display_address"": [""368 W ...",South Boston,42.337900,-71.048910,ethnicmarkets
337,Sate Asian Grill,http://www.yelp.com/biz/sate-asian-grill-boston-2,19,"[[""Ethnic Food"", ""ethnicmarkets""], [""Korean"", ...",4.0,This place is excellent. I work right down the...,"{""city"": ""Boston"", ""display_address"": [""89 S S...",Waterfront,42.351807,-71.057484,ethnicmarkets
341,G Mart 2 Supermarket,http://www.yelp.com/biz/g-mart-2-supermarket-b...,48,"[[""Grocery"", ""grocery""], [""Ethnic Food"", ""ethn...",4.0,Everything is inexpensive! I was so surprised ...,"{""cross_streets"": ""Beach St & Tufts St"", ""city...",Waterfront,42.351569,-71.058365,ethnicmarkets
342,Bonne Chance Cafe & Bakery,http://www.yelp.com/biz/bonne-chance-cafe-and-...,22,"[[""Bakeries"", ""bakeries""], [""Coffee & Tea"", ""c...",4.0,I have to say.... I've not had anything else o...,"{""cross_streets"": ""Traverse St & Market St"", ""...",NaN,42.364044,-71.059463,ethnicmarkets

In [138]:
data.to_csv("new_boston.csv")

In [134]:
data[data.name == "OTTO"]

,name,url,review_count,categories,rating,snippet_text,location,neighborhood,latitude,longitude,search category
239,OTTO,http://www.yelp.com/biz/otto-boston,107,"[[""Pizza"", ""pizza""], [""Bars"", ""bars""]]",4.0,"Can only review them based on delivery, not th...","{""city"": ""Boston"", ""display_address"": [""888 Co...",Allston/Brighton,42.350441,-71.115257,pizza